[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:vauxoo/stock-logistics-workflow.git
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:Vauxoo/stock-logistics-warehouse.git
	branch = 13.0
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = git@github.com:Vauxoo/account-invoice-reporting.git
	branch = 13.0
